*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( 312.75deg, rgba(255, 155, 155, 0.3) 5.04%, rgba(99, 4, 46, 0.3) 39.16%, rgba(86, 1, 86, 0.3) 107.92% );
}

.header{
    width: 100%;
    height: 100px;
    padding: 32px 0px 32px 15px;
}

.header img{
    height: 40px;
    margin-left: 25px;
}

.main{
    height: 964px;
    width: 734px;
    background: linear-gradient( 312.75deg, rgba(255, 155, 155, 0.3) 5.04%, rgba(99, 4, 46, 0.3) 39.16%, rgba(86, 1, 86, 0.3) 107.92% );
    margin-top: 25px;
    margin-left: 400px;
    border-radius: 10px;
}

.main h2{
    color:#fff;
    font-size: 48px;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.main ul{
    list-style-type: none;
    text-align: center;
}

.main ul li button{
    height: 48px;
    width: 324px;
    background: transparent;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #b3b3b3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.main ul li button:hover{
    border: 1px solid #fff;
}

.main hr{
    width: 70%;
    /* margin-top: 60px;
    margin-left: 100px; */
    background-color: #b3b3b3;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    opacity:0.2; 
    
}

.main form{
    text-align: center;
    /*display: flex;
    flex-direction: column; */
    margin-top: 40px;
    
}

.main form label{
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
}

.main form input{
    height: 48px;
    width: 324px;
    background: transparent;
    color: #b3b3b3;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    margin-top: 10px;
    padding: 8px 14px;
    
}

.main form input::placeholder{
    color:white;
}

.main form input:hover{
    border: 1px solid #fff;
}

.main button.login{
    height: 48px;
    width: 324px;
    text-align: center;
    color: black;
    background-color: #cb689b;
    padding: 8px 32px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 200px;
    border: none;
}

.main button.login:hover{
    font-weight: 600;
    border: 1px solid #cb689b;
}

.main a p{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    color: #fff;
    font-size: 16px;
}

.main a p:hover{
    color: #cb689b;
}

.main p.account{
    /* color: #b3b3b3; */
    color:white;
    text-align: center;
    margin-top: 50px ;
}

.main p.account a span{
    text-decoration: underline;
    color: #fff;
    font-size: 16px;
}

.main p.account a span:hover{
    color: #cb689b;
}

.footer{
    height: 80px;
    background-color: #cb689b;
    margin-top: 25px;
}

.footer p{
    text-align: center;
    color: #b3b3b3;
    font-size: 15px;
    padding: 35px;
    
}